body, html {
	border:none;
	margin:0;
	padding:0;
    font-size: 1em;
    line-height: 1.4;
    background:#040404;
    color: #aaaaaa;
    font-family: Arial, verdana, helvetica, sans-serif;
    text-align: center;
    height:100%;
    min-height:100%;
}

a {
    color: #aaaaaa;
    outline:0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
	border:none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main-wrapper {
	width:60%;
	max-width: 750px;
	margin:0 auto;
    height:100%;
}    

.white-line {
	border-top:2px #fff solid;
	line-height:0;
	display: block;
    margin:0 5%
}

.header-image {
    margin:35px 0 0;
}
h1 {
    margin:70px 0 66px;
}
h1 img {
   width:100%; 
}
table {
    margin:0;
    padding:0;
    border-spacing:0;
    width:100%;
    height:100%;
}
td {
    vertical-align: middle;
}
.clear {
    clear:both;
}
.header-image p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.social-icons {
    margin:55px 5% 55px;
}
.social-icons .icon-spacer{
    display: block;
    width:8%;
    float:left;
}
.social-icons a.social-icon {
    width:13.6%;
    display:block;
    float:left;
}
.social-icons a.social-icon:hover img{
    opacity: 0.8;
}
.social-icons a.social-icon img{
    width:100%;
}

@media only screen and (max-width: 1025px) {
    .main-wrapper {
        width: 60%;
    }
    h1 {
        margin:55px 0 51px;
    }
    
}

@media only screen and (max-width: 640px) {
    body {
        font-size:12px;
    }
    h1 {
        margin:45px 0 41px;
    }
    td {
        padding:20px 0;
    }

    .main-wrapper {
        width: 90%;
    }
    .header-image {
        margin:0;
    }
    .header-image p {
        font-size: 15px;
    }
    .social-icons {
        margin-top:45px;
    }
    
}
